body{
    margin:0;
    font-family:Arial;
    background:#111;
    color:white;
    text-align:center;
}

header{
    padding:80px;
    background:linear-gradient(90deg,#00c6ff,#0072ff);
}

button{
    padding:15px 35px;
    font-size:20px;
    border:none;
    border-radius:10px;
    cursor:pointer;
}